<?xml version="1.0" encoding="utf-8"?>

<launch>

    <arg name="controller" default="js0"/>

    <!-- If the controller is empty do not launch backup controller -->
    <group unless="$(eval controller != '')">
        <!-- Used as a backup control -->
        <node name="joy_node" pkg="joy" type="joy_node">
            <param name="dev" value="/dev/input/$(arg controller)"/>
        </node>

        <node pkg="drone_controller" name="manual_control_node" type="manual_control.py" output="screen">
        </node>
    </group>

</launch>