<?xml version="1.0" encoding="utf-8"?>

<launch>

    <node pkg="drone_controller" name="simulated_main_drone_node" type="main_drone.py" output="screen"> 
        <param name="/simulated_ip" type="bool" value="True" />
    </node>

    <node pkg="drone_controller" name="gate_navigation_node" type="gate_navigation.py" output="screen">
    </node> 

    <!-- Launch darknet ros -->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch">
        <arg name="image" default="/mixer/sensors/camera" />
        <arg name="network_param_file" default="$(find darknet_ros)/config/yolov2-tiny.yaml"/>
    </include>

    <node pkg="drone_controller" name="program_controller_node" type="gate_scenario_controller.py" output="screen">
    </node>

    <node pkg="information_extraction" name="extract_position_node" type="simulation_information.py" output="screen">
    </node>

    <node pkg="mixed_reality_control" name="mixer_node" type="mixer.py" output="screen">
    </node>

    <node pkg="unity_communication" name="UnityRosConnection1" type="UnityRosConnection.py" output="screen">
        <param name="/port" type="int" value="44444" />
        <param name="/position_topic_name" type="string" value="/ground_truth/uav1/pose" />
        <param name="/image_topic_name" type="string" value="/uav1/unity_sensors/camera" />
    </node>

    <node pkg="rqt_image_view" type="rqt_image_view" name="simulated_view" args="/uav1/simulated_sensors/camera" output="screen"/>
    <node pkg="rqt_image_view" type="rqt_image_view" name="unity_view" args="/uav1/unity_sensors/camera" output="screen"/>
    <node pkg="rqt_image_view" type="rqt_image_view" name="gate_center" args="/gate_navigation/sensors/camera" output="screen"/>
    
</launch>
