<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="sphinx" default="true"/>
    <arg name="unity" default="true"/>
    <arg name="physical" default="false"/>
    <arg name="vicon" default="false"/>
    <arg name="multiview" default="false"/>
    <arg name="controller" default="js0"/>
    <arg name="yaw_debug" default="false"/>
    <arg name="force_debug" default="false"/>
    <arg name="save_data" default=""/>

    <!-- Launch main controller node -->
    <include file="$(find drone_controller)/launch/main.launch">
        <arg name="launch_unity" value="$(arg unity)" />
        <arg name="launch_shinx" value="$(arg sphinx)" />
        <arg name="launch_physical" value="$(arg physical)" />
        <arg name="launch_vicon" value="$(arg vicon)" />
        <arg name="launch_multiview" value="$(arg multiview)" />
        <arg name="yaw_debug_plot" value="$(arg yaw_debug)" />
        <arg name="force_debug_plot" value="$(arg force_debug)" />
        <arg name="output_data_save_name" value="$(arg save_data)" />
    </include>

    <!-- Launch backup controller on xbox -->
    <include file="$(find drone_controller)/launch/backup_safety.launch">
        <arg name="controller" value="$(arg controller)" />
    </include>

    <!-- Launch the gate navigation -->
    <node pkg="drone_controller" name="program_controller_node" type="gate_scenario_controller.py" output="screen">
    </node>

    <!-- Note: Error is a value between -1 an 1, and the output is a value between -100, 100: hence high PID values -->
    <node pkg="drone_controller" name="gate_navigation_node" type="gate_navigation.py" output="screen">
        <param name="gains/p" type="double" value="30" />
        <param name="gains/i" type="double" value="0" />
        <param name="gains/d" type="double" value="30" />

        <param name="lower_bound/H" type="int" value="0" />
        <param name="lower_bound/S" type="int" value="100" />
        <param name="lower_bound/V" type="int" value="110" />
        <param name="upper_bound/H" type="int" value="255" />
        <param name="upper_bound/S" type="int" value="255" />
        <param name="upper_bound/V" type="int" value="255" />
    </node> 

    <!-- Gate navigation view -->
    <node pkg="rqt_image_view" type="rqt_image_view" name="gate_center" args="/gate_navigation/sensors/camera" output="screen"/>

    <!-- Mixing functions -->
    <node pkg="mixing_functions" name="color_threshold_node" type="color_threshold.py" output="screen">
        <param name="lower_bound/H" type="int" value="0" />
        <param name="lower_bound/S" type="int" value="100" />
        <param name="lower_bound/V" type="int" value="110" />
        <param name="upper_bound/H" type="int" value="255" />
        <param name="upper_bound/S" type="int" value="255" />
        <param name="upper_bound/V" type="int" value="255" />

        <param name="input_topic" type="string" value="/uav1/sphinx_sensors/camera" />
        <param name="output_topic" type="string" value="/uav1/overlay/camera" />

        <param name="invert_background" type="bool" value="False" />
    </node> 

    <node pkg="mixed_reality" name="mixer_node" type="mixer.py" output="screen">
        <param name="ignore_white" type="bool" value="False" />
        <param name="ignore_black" type="bool" value="True" />
    </node>

    <!-- Optional views -->
    <group if="$(arg multiview)">
        <node pkg="rqt_image_view" type="rqt_image_view" name="test_color" args="/uav1/overlay/camera" output="screen"/>
    </group>
    
</launch>