<?xml version="1.0" encoding="utf-8"?>

<launch>

    <node pkg="drone_controller" name="physical_main_drone_node" type="main_drone.py" output="screen"> 
        <param name="/simulated_ip" type="bool" value="False" />
    </node>
    <node pkg="drone_controller" name="simulated_main_drone_node" type="main_drone.py" output="screen"> 
        <param name="/simulated_ip" type="bool" value="True" />
    </node>

    <node pkg="information_extraction" name="extract_position_node" type="simulation_information.py" output="screen">
        <param name="/attitude_source" type="string" value="simulation" />
    </node>

    <node pkg="mixed_reality" name="mixer_node" type="mixer.py" output="screen">
    </node>

    <node pkg="unity_communication" name="UnityRosConnection1" type="UnityRosConnection.py" output="screen">
        <param name="/port" type="int" value="44444" />
        <param name="/position_topic_name" type="string" value="/ground_truth/uav1/pose" />
        <param name="/image_topic_name" type="string" value="/uav1/unity_sensors/camera" />
    </node>

    <node pkg="rqt_image_view" type="rqt_image_view" name="simulated_view" args="/uav1/sphinx_sensors/camera" output="screen"/>
    <node pkg="rqt_image_view" type="rqt_image_view" name="unity_view" args="/uav1/unity_sensors/camera" output="screen"/>
    <node pkg="rqt_image_view" type="rqt_image_view" name="physical_view" args="/uav1/physical_sensors/camera" output="screen"/>
    
</launch>
