<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="sphinx" default="true"/>
    <arg name="unity" default="true"/>
    <arg name="physical" default="true"/>
    <arg name="controller" default="js0"/>

    <include file="$(find drone_controller)/launch/main_simulation.launch">
        <arg name="launch_unity" value="$(arg unity)" />
        <arg name="sphinx_launch" value="$(arg sphinx)" />
    </include>

    <node name="joy_node" pkg="joy" type="joy_node">
        <!-- Might need to change this to js0 -->
        <param name="dev" value="/dev/input/$(arg controller)"/>
    </node>

    <node pkg="drone_controller" name="manual_control_node" type="manual_control.py" output="screen">
    </node>

    <node pkg="rqt_image_view" type="rqt_image_view" name="mixer_img" args="/mixer/sensors/camera" output="screen"/>
    
</launch>