<?xml version="1.0" encoding="utf-8"?>

<launch>

    <arg name="simulation" default="false"/>
    <arg name="fast" default="false"/>

    <!-- The avoidance controller code -->
    <node pkg="drone_controller" name="program_controller_node" type="avoidance_scenario_controller.py" output="screen">
    </node>

    <!-- Connect to second drone -->
    <node pkg="drone_controller" name="obstacle_drone_node" type="obstacle_drone.py" output="screen"> 
        <param name="/simulated_ip" type="bool" value="$(arg simulation)" />
        <param name="/fast" type="bool" value="$(arg fast)" />
    </node>

</launch>
