<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Launch darknet ros -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="image" default="/camera/image_raw" />
  </include>

  <!-- Launch darknet ros -->
  <include file="$(find video_stream_opencv)/launch/camera.launch">
    <arg name="video_stream_provider" value="/home/parallels/MixedReality/videos/CameraFeed.mp4"/>
    <arg name="loop_videofile" value="true"/>
    <arg name="stop_frame" value="325"/>
    
  </include>

  

  <!-- <node name="image_view" pkg="image_view" type="image_view" output="screen">
    <param name="image" value="camera/image_raw" />
  </node> -->

  <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" args="/darknet_ros/detection_image"/>

</launch>
